<div class="container">
  <div class="row-eq-height">
    <div class="col-md-11">
      <h3 style="padding-left: 15px"><%= category_name %></h3>

      <% if products.empty? && !user_signed_in? %>
          <h4>Welcome to Ecommerce Lite !! Currently there are no products on website.
            <br/><br/>Please <%= link_to "Click Here", new_user_session_path %> to sign up as Admin to add new products.
          </h4>
      <% end %>

      <% if products.empty? && user_signed_in? %>
          Welcome <%= current_user.name %>, To add new products click on <b>Manage Product => Add New Product</b> from top navigation.
      <% end %>

      <% products.each do |product| %>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag product.image.thumb, :style => 'height:80px; width: 80px;' %>
              <div class="caption">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h3><%= link_to product.name, product %></h3>
                  </div>
                  <div class="col-md-6 col-xs-6 price">
                    <h3>
                      <label><%= number_to_currency product.price %></label></h3>
                  </div>
                </div>
                <h4><label><%= product.category.name %></label></h4>
                <% if current_user && current_user.admin? %>
                    <div class="row">
                      <div class="col-md-6">
                        <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary btn-product' %>
                      </div>
                      <div class="col-md-6">
                        <%= link_to 'Delete', product, method: :delete, data: {confirm: 'Are you sure?'},
                                    class: 'btn btn-danger btn-product' %>
                      </div>
                    </div>
                <% else %>
                    <%= link_to 'Product Detail', product, class: 'btn btn-info btn-product' %>
                <% end %>
              </div>
            </div>
          </div>

      <% end %>
    </div>

  </div>
</div>