<!DOCTYPE html>
<html>
<head>
  <title>Ecommercelite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'views/products/detail', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'views/products/list', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'views/cart/shopping_cart', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>

<div class="container">
  <%= content_tag :p, notice, class: 'bg-success' %>
  <%= content_tag :p, alert, class: 'bg-danger' %>
  <%= yield %>
</div>

</body>
</html>
